.footer-container {
  text-align: center;
  padding: 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  .footer-container-logo {
    width: 130px;
    height: auto;
  }
  h5 {
    margin-bottom: 2rem;
  }
  ul {
    li {
      color: $paragraph-color;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }

  .footer-desc {
    color: $paragraph-color;
    font-size: 1.5rem;
  }

  h5 {
    font-weight: bold;
    font-size: 2rem;
  }
  .socialMedia-navs {
    ul {
      li {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
  .discover-our-app {
    p {
      font-size: 1.5rem;
    }
    img:first-child {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .footer-container {
    text-align: left;
    font-size: 1.3rem;

    .footer-desc {
      font-size: 1.2rem;
    }
  }
}
