.highlightBannerContainer {
  height: 100%;
  .highlightBannerContent {
    // height: 420px;
    .category {
      color: $pink-color;
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
    .title {
      color: #181e4b;
      font-size: 5rem;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      position: relative;
      padding: 2rem 0;
      .decore-img {
        position: absolute;
        top: 4rem;
        left: 40%;
        z-index: -1;
        // animation: shrink 0.5s;
      }
    }
    .brief {
      color: $paragraph-color;

      font-size: 2rem;
      padding-bottom: 1.5rem;
      font-weight: 500;
    }

    .highlightBanner-actions {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .highlightBannerContainer-right-Content {
    // animation: transformImgX 0.5s;
    .slider-img {
      z-index: 2;
      position: relative;
      width: 300px;
      height: 300px;
    }
    .slider-bg-img {
      position: absolute;
      top: -4rem;
      right: -10rem;
      animation: rotate infinite 5s linear;
      width: 80%;
    }
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 600px) and (max-width: 991px) {
  .highlightBannerContainer {
    .slider-bg-img {
      width: 65%;
      top: -19rem;
      right: -5rem;
    }
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 768px) {
  .highlightBannerContainer {
    .highlightBannerContent {
      .category {
        margin: 2rem 0;
      }

      .title {
        font-size: 7rem;
        .decore-img {
          top: 6rem;
          left: 42%;
        }
      }
      .highlightBanner-actions {
        text-align: left;
        margin-bottom: unset;
      }
    }

    .highlightBannerContainer-right-Content {
      .slider-img {
        width: 40vw;
        height: 100%;
        object-fit: contain;
      }

      .slider-bg-img {
        top: -40rem;
        right: -29rem;
        width: 70%;
        height: 70vh;
      }
    }
  }
}

/* Media query for screens from 1920px wide and up */
@media (min-width: 1440px) {
  .highlightBannerContainer {
    height: 80vh;
    .highlightBannerContainer-right-Content {
      .slider-img {
        width: 40vw;
        height: 100%;
        object-fit: contain;
      }
      .slider-bg-img {
        top: -30rem;
        right: -40rem;
        width: 100%;
        height: 90vh;
      }
    }
  }
}
