.navbar-component {
  text-align: center;
  z-index: 3;
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: unset !important;
  }

  .dropdown-toggle {
    &:after {
      content: "⌄";
      border: none;
    }
  }

  .navbar-brand {
    margin: auto;

    img {
      width: 130px;
      height: auto;
    }
  }

  #basic-navbar-nav {
    a,
    button {
      color: #212832;
      padding: 0.5rem 2rem;
      font-size: 1.8rem;
    }
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .navbar-component {
    text-align: left;
    padding: unset;
    .navbar-brand {
      margin: unset;
      img {
        width: 190px;
        height: auto;
        margin-top: 1rem;
      }
    }
  }
}
