.things-we-do {
  background: url(../../images/ThingsWeDo.png) no-repeat;
  background-size: auto;
  background-position: -100px 50%;
  flex-direction: column-reverse;
  height: 90vh;
  background-color: $lightGray-color;

  .imagesContainers {
    z-index: 2;
    width: 100%;
    justify-content: center;

    .img-container {
      position: relative;
      overflow: hidden;
      background-color: rgba(22, 42, 105, 0.5);
      img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
      }
      .readMore {
        position: absolute;
        color: $white-color;
        left: 1.3rem;
        bottom: 1rem;
        display: none;
      }

      .img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        background-color: rgba(22, 42, 105, 0.5);
      }

      &.first-img {
        &:hover {
          transform: translate3d(0px, 5px, 60px);
          transition: transform 0.3s linear;
        }
      }

      &:hover .readMore {
        display: block;
      }

      &:hover .img-overlay {
        opacity: 1;
      }
    }

    .third-col {
      margin-bottom: 14rem;
    }
  }

  .things-we-do-desc {
    background-color: $pink-color;
    height: 50%;
    z-index: 1;
    margin-bottom: 3rem;
    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 3rem;
      line-height: 1.45;
      text-align: center;
      color: $h2-color;
      margin-right: 3rem;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 3rem;
      line-height: 1.32;
      color: $white-color;
      text-align: center;
    }
  }
}

/* Media query for screens from 1025px wide and up */
@media (min-width: 767px) and (max-width: 1024px) {
  .things-we-do {
    margin-top: 15rem;

    .things-we-do-desc {
      padding: 3rem 0;
    }
  }
}

/* Media query for screens from 1025px wide and up */
@media (min-width: 1025px) {
  .things-we-do {
    background-position: -100px 0;
    flex-direction: row;
    height: 75vh;
    .imagesContainers {
      margin-left: 5rem;
      justify-content: flex-start;

      .img-container {
        img {
          height: 220px;
        }
      }
    }
    .things-we-do-desc {
      margin-left: -27rem;
      height: 63%;
      h2 {
        font-size: 5rem;
        text-align: right;
      }
      p {
        text-align: right;
        margin-left: 33rem;
        margin-right: 1rem;
      }
    }
  }
}
