.highlightBannerContainer {
  height: 100%;
  .highlightBannerContent {
    height: 640px;
  }
  .category {
    color: #f215b6;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  .title {
    color: #181e4b;
    font-size: 75px;
    font-weight: bold;
    font-family: "Volkhov";
    position: relative;
    .decore-img {
      position: absolute;
      top: 3rem;
      left: 40%;
      z-index: -1;
    }
  }
  .brief {
    color: #5e6282;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .slider-img {
    z-index: 2;
    position: relative;
  }
  .slider-bg-img {
    position: absolute;
    top: -20rem;
    right: -4rem;
    animation: rotate infinite 5s linear;
  }
}
