.latestNews-container {
  padding: 3rem 0;
  background: url(../../images/topNewsBg.png) no-repeat;
  background-size: auto;
  background-position: top 50px right 10px;

  h6 {
    color: #5e6282;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  .nav-link {
    background-color: #e3e3e3;
    margin-right: 1rem;
    color: #0f526e;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .nav-item {
    margin-bottom: 1rem;
  }

  .nav-link.active {
    background-color: #007bff;
    color: white;
  }

  .card {
    border-radius: 24px;
    box-shadow: -5px 22px 37px 0px rgba(0, 0, 0, 0.1);

    .card-img-top {
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      height: 350px;
      object-fit: cover;
    }

    .card-body {
      height: 190px;
      padding: 2rem;
      .card-title {
        color: #5e6282;
        font-size: 2.5rem;
      }
      .card-date {
        color: #707070;
        font-size: 2rem;
        img {
          margin-right: 0.8rem;
        }
      }
      .card-category-share-addToFavourite {
        span {
          background-color: #74747433;
          color: #5e6282;
          border-radius: 10px;
          font-size: 1.5rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .latestNews-container {
    .card {
      .card-body {
        height: 210px;
        .card-title {
          font-size: 1.5rem;
        }
        .card-date {
          font-size: 1.2rem;
        }
        .card-category-share-addToFavourite {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
