.latestNews-container {
  padding: 1rem 0;
  font: normal normal 600 18px/22px Poppins;
  .nav-link {
    background-color: #e3e3e3;
    font-family: GoogleSans;
    margin-right: 1rem;
    color: #0f526e;
    border-radius: 10px;
  }

  .nav-link.active {
    background-color: #007bff;
    color: white;
  }

  .card {
    border-radius: 24px;

    .card-img-top {
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
    }

    .card-body {
      height: 160px;
      .card-title {
        color: #5e6282;
      }
      .card-date {
        color: #707070;
      }
      .card-category-share-addToFavourite {
        span {
          background-color: #74747433;
          color: #5e6282;
          border-radius: 10px;
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}
