.pagination-container {
  margin: 3rem 0;
  margin-top: auto;
  height: 42px;
  text-align: center;
  position: relative;

  .dots-img {
    position: absolute;
    top: 60%;
    width: 47%;
  }
  .dot {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 6.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: $white-color;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .dot:last-child::after {
    background-color: transparent;
    background-image: none;
    background-size: none;
  }

  .dot.active {
    background-color: $blue-color;
    color: $white-color;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .pagination-container {
    .dot {
      margin-right: 15rem;
    }
  }
}

/* Media query for screens from 1025px wide and up */
@media (min-width: 1025px) {
  .pagination-container {
    .dots-img {
      width: 60%;
    }
    // margin: 8rem 0;
    text-align: left;
    .dot {
      margin-right: 13rem;
      width: 40px;
      height: 40px;

      &:last-child {
        margin-right: unset;
      }
    }
    .dot:after {
      left: 0rem;
      width: 17rem;
    }
    .dot.active {
      width: 50px;
      height: 50px;
    }
  }
}
