.orange-btn {
  border-radius: 10px;
  box-shadow: 0 20px 70px 0 rgba(241, 165, 1, 0.15);
  background-color: $orange-color;
  color: $white-color;
  border-color: $orange-color;
  padding: 1.5rem 2.7rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .orange-btn {
    margin-bottom: 0;
  }
}
