.pagination-container {
  margin: 7rem 0;
  height: 42px;
  text-align: center;
  .dot {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 3rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .dot:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2rem;
    width: 5rem;
    height: 2px;
    background-image: linear-gradient(to right, transparent 50%, #ccc 50%);
    background-size: 10px 2px;
    z-index: -1;
  }

  .dot:last-child::after {
    background-color: transparent;
    background-image: none;
    background-size: none;
  }

  .dot.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
  }
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .pagination-container {
    text-align: left;
    .dot {
      margin-right: 13rem;
    }
    .dot:after {
      left: 0rem;
      width: 17rem;
    }
  }
}
