.orange-btn {
  border-radius: 10px;
  box-shadow: 0 20px 70px 0 rgba(241, 165, 1, 0.15);
  background-color: #ff7c16;
  color: #fff;
  border-color: #ff7c16;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* Media query for screens from 992px wide and up */
@media (min-width: 992px) {
  .orange-btn {
    margin-bottom: 0;
  }
}
