$white-color: #fff;
$blue-color: #007bff;
$orange-color: #ff7c16;
$pink-color: #f215b6;
$title-color: #181e4b;
$title-color: #181e4b;
$paragraph-color: #5e6282;
$links-color: #0f526e;
$lightGray-color: #efefef;
$h2-color: #253776;
$date-color: #707070;
